// CSS 
@import "~bootstrap/scss/bootstrap";
//boostrap 

.banner {
	text-align:center;
	font-family:'Abril Fatface';
}
//   .colbanner {
//   	background-color: grey;
//   	border: 2px solid black;
//  }

.line{
	border:none;
	border-top:2px solid black;
	color:black;
	overflow:visible;
	height:5px;
	width:100%;
	opacity:1;
	}

	.burger {
		width : 50px;
		height : 35px;
		cursor : pointer;
		position : relative;
		border : 1.8px solid black;
    	border-radius : 2px;
		padding : 4px;
	}
	.burger span {
		width : 83%;
		height : 2px;
		background-color : #000;
		display : block;
		position : absolute;
		top: 50%;
		transform : translateY(-50%);
	}
	.burger span::before, .burger span::after {
		content : '';
		position : absolute;
		width : 100%;
		height : 2px;
		background-color : #000;
	}
	.burger span::before {
		transform : translateY(-10px);
	}
	.burger span::after {
		transform : translateY(10px);
	}
.form {width:85%;}

.form-control {
	border: 1.5px solid black !important;
}

.btn-outline-success {
    color: black !important;
    border-color: #B5C99A !important;
	background-color: #B5C99A !important;
}
.btn-outline-success:hover {
    color: black;
    background-color:#CFE1B9 !important;
    border-color: #CFE1B9 !important;
}

.vendre {
	padding-left:30px !important;
	padding-right:30px !important;
	margin-right:30px !important;
}

.connection {
	border-color: transparent !important;
	background-color:transparent !important;
	font-size: 1em !important;
}

.connection:hover {
    color: black;
    background-color:transparent !important;
    border-color:black !important;
}

img {
	width:40px;

}

.sousbanner {
border-left:2px solid black;
border-right:2px solid black;
}

.vintageFurniture {
	width:200px;
	text-align:center;
}

.badge {
	background-color:black;
}

.imagepanier {
	cursor:pointer;
}