// CSS 
@import "~bootstrap/scss/bootstrap";

//boostrap 
.card {
    border: 1px solid black !important;
    padding: 10px !important;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content:baseline;
    
    
}

.titre_card {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    font-family: 'Abril Fatface';
    margin-left: 2rem !important;
    text-align:center;
}

.type_card {
    font-family: 'Abril Fatface';

}

.btn_card {
    font-size: 10px !important;
    border-color: #B5C99A !important;
    background-color: #B5C99A !important;
    color: black !important;
    height: 40px !important;
}

.btn_card:hover {
    background-color: white !important;
}

.info_card {
    display: flex;
    justify-content: space-between;
}

.prix {
    margin-top: 0.5rem;
}

.img_card {
   width: 100% ;
   height: 250px;
   overflow: hidden;
   cursor: pointer;
}

.container_card {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    position: relative;

}


.card:hover {
    background-color: #CFE1B9;
}