// CSS 
@import "~bootstrap/scss/bootstrap";
//boostrap 
.card {
    border: 1px solid black !important;
    padding: 10px !important;
}


.titre_card {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    font-family: 'Abril Fatface';
    margin-left: 2rem !important;
}

.type_card {
    font-family: 'Abril Fatface';

}

.btn_card {
    font-size: 10px !important;
    border-color: #B5C99A !important;
	background-color: #B5C99A !important;
    color: black !important;
    height: 40px !important;
}

.btn_card:hover {
	background-color: white !important;
}

.info_card {
    display: flex;
    justify-content: space-between;
}

.prix{
    margin-top: 0.5rem;
}

.container_card {
margin-left: 2rem;
margin-right: 2rem;
margin-bottom: 2rem;

}

.card:hover {
    background-color: #CFE1B9;
}